<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bill Splitter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Bill Splitter</h1>

        <div class="section">
        <h2>Мои счета</h2>
        
        <div class="bills-list">
            <p>Нет сохранённых счетов</p>
        </div>

        <form action="/create" method="post" class="form-inline">
            <input type="text" name="name" placeholder="Название счёта" required>
            <button type="submit" class="btn">+ Создать</button>
        </form>

        <div class="section active">
            <div class="bill-header">
        <h2>Название счёта</h2>
        <button class="btn-small btn-danger">Закрыть</button>
    </div>

    <h3>Участники</h3>
    <div class="user-list"></div>
    <form class="form-inline">
        <input type="text" placeholder="Имя">
        <button class="btn-small">+ Добавить</button>
    </form>

    <h3>Товары</h3>
    <p>Нет добавленных товаров</p>
</div>

<table class="table">
                <thead>
                    <tr><th>Название</th><th>Цена</th><th>Количество</th><th>Кто ест</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>td>
                        <td></td>
                        <td></td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Нет добавленных товаров</p>

            <form action="/add-item" method="post" class="form-grid">
                <input type="text" name="name" placeholder="Товар" required>
                <input type="number" name="price" step="0.01" placeholder="Цена" required>
                <input type="text" name="consumers" placeholder="Кто ест (через запятую)" required>
                <input type="number" name="quantity" value="1" placeholder="Кол-во">
                <button type="submit" class="btn-small">+ Добавить</button>
            </form>

            <h3>Платежи</h3>

            <table class="table">
                <thead><tr><th>Кто платил</th><th>Сумма</th></tr></thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p>Нет записанных платежей</p>



</body>
</html>